@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Index.js"></script>

<div class="jumbotron">
    <h1>Separar vocales</h1>
    <p class="lead">Mi intento</p>
</div>

<div class="row">
    <input type="text" id="campoTexto" placeholder="Ingresa texto aquí"  /> <br />
    <input type="text" id="vocalesInput"  /> <br />
    <input type="text" id="consonaInput"  /> <br />
    <input type="button" value="Click me" onclick="SepararTexto()" />
    <p id="demo">Esto texto es de prueba</p>
</div>